<!DOCTYPE html>
<html>
<head>
    <title>Personal Website Ziad Bakki</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <div class="bottom_container">
        <div class="icon">
            <img class="iconhover" src="/linkedinsvg.svg">
            <img class="iconhover" src="/githubsvg.svg">
            <img class="iconhover" src="/emailsvg.svg">
        </div>
    </div>

        <div style="display: inline-block;" >
            <h1>Welcome to my personal website,</h1>
            <h2>This is an overview of my work throughout college, hope you enjoy!</h2>
            <br>
            <br>
        </div>  
        <div style="float: right; padding: 5vh 20vh;"><button>Download CV</button></div>
        <br>
        <div class="bigbubble">
            <h1><b>Tanweer Energy Solar Solutions</b></h1> 
            <h4><i>Baghdad, Iraq</i></h4>
            <h3>Currently managing and developing a solar panel solution system for a startup in Baghdad. Tools like HTML, CSS, and Javascript with the help from Google Maps and NASA's API are used in development.  </h3>
        </div>

        <div style="margin-left: 5vh;" class="bigbubble">
            <h1><b>Software Engineering and Computing Society</b></h1>
            <h4><i>Michigan State University</i></h4>
            <h3>Co-founded a Software Engineering Organization that works with non-profit organizations such as Lansing Catalyst, and hosts weekly workshops on important SWE topics such as data structures.</h3>
        </div>

</body>
</html>
