<!DOCTYPE html>
<html>
<head>
    <title>Personal Website Ziad Bakki</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <div class="bottom_container">
        <div class="icon">
            <a href="https://www.linkedin.com/in/ziad-bakki/" target="_blank">
                <img class="iconhover" src="/linkedinsvg.svg">
            </a>
            <a href="https://github.com/ziad-bakki" target="_blank">
                <img class="iconhover" src="/githubsvg.svg">
            </a>
            <a href="mailto:bakkizia@msu.edu">
                <img class="iconhover" src="/emailsvg.svg">
            </a>
            
            
        </div>
    </div>

        <div style="display: inline-block;" >
            <h1>Welcome to my personal website,</h1>
            <h2>This is an overview of my work throughout college!</h2>
            <br>
            <br>
        </div>  
        <div style="float: right; padding: 5vh 20vh;"><button>Download CV</button></div>
        <br>
        <div class="bigbubble">
            <h1><b>Tanweer Energy Solar Solutions</b></h1> 
            <h4><i>Baghdad, Iraq</i></h4>
            <h3>Currently managing and developing a solar panel solution system for a startup in Baghdad. Tools like HTML, CSS, and Javascript with the help from Google Maps and NASA's API are used in development.  </h3>
        </div>

        <div style="margin-left: 5vh;" class="bigbubble">
            <h1><b>Software Engineering and Computing Society</b></h1>
            <h4><i>Michigan State University</i></h4>
            <h3>Co-founded a Software Engineering Organization that works with non-profit organizations such as Lansing Catalyst, and hosts weekly workshops on important SWE topics such as data structures.</h3>
        </div>
        <br>
        <div style=" margin-top: 5vh;" class="bigbubble">
            <h1><b>Michigan State University</b></h1>
            <h4><i>East Lansing, MI</i></h4>
            <h3>Currently studying for a bachelor's in Computer Science Engineering, and a minor in Economics. I apply my strong disciplinary and leadership skills to both the classroom and the workplace via my extensive knowledge in Programming and Mathematics.  </h3>
        </div>
        <div style="margin-left: 5vh; background: rgb(33, 33, 35);" class="bigbubble">
            <h1><b>Technical Skills</b></h1>
            <h2>Here are the technical skills that may be applied to a Software Engineering and Development workspace</h2>
            <h4>Algorithms & Data Structures | Object Oriented Programming | Python (Flask, Django, Numpy, BS4 Webscraping) | Web Development (HTML, CSS, JS) | C++/C | Assembly (ARM 64) | Git </h4>
        </div>
        <br>
        <br>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 7</div>
                <img src="/personalwebsite images/Tanweer1.png">
            </div>
    
            <div class="mySlides fade">
                <div class="numbertext">2 / 7</div>
                <img src="/personalwebsite images/Tanweer2.png" style="width:100%">
            </div>
    
            <div class="mySlides fade">
                <div class="numbertext">3 / 7</div>
                <img src="/personalwebsite images/Tanweer3.png" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 7</div>
                <img src="/personalwebsite images/Tanweer4.png" style="width: 100%;">
            </div>
            
            <div class="mySlides fade">
                <div class="numbertext">5 / 7</div>
                <img src="/personalwebsite images/nasa1.png" style="width: 100%;">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">6 / 7</div>
                <img src="/personalwebsite images/nasa2.png" style="width: 100%;">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">7 / 7</div>
                <img src="/personalwebsite images/nasa3.png" style="width: 100%;">
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
    
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
        </div>
        <div style="text-align: center; margin-bottom: 5vh;">
            <button onclick="currentSlide(1)">Tanweer Energy</button>
            <button onclick="currentSlide(5)">NASA Image Parser</button>
        </div>
        <script src="/static/script.js"></script>
</body>
</html>
