<!DOCTYPE html>
<html>
<head>
    <title>Personal Website Ziad Bakki</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <div class="bottom_container">
        <div class="icon">
            <img src="/linkedinsvg.svg">
            <img src="/githubsvg.svg">
            <img src="/emailsvg.svg">
        </div>
    </div>

        <div style="display: inline-block;" >
            <h1>Welcome to my personal website,</h1>
            <h2>This is an overview of my work, hope you enjoy!</h2>
        </div>  
        <div style="float: right; padding: 5vh 20vh;"><button>Download CV</button></div>

</body>
</html>
